<div>
	<dl>
	    <dt>File size</dt><dd><%- model.response.contentLengthFormatted %></dd>
	    <dt>Mime</dt><dd><%- model.response.getHeader(/Content-Type/i) %></dd>
	    <dt>Machine</dt><dd data-dojo-attach-point="machineNode"></dd>
		<dt>Sections</dt><dd data-dojo-attach-point="sectionsNode"></dd>
	</dl>
</div>