[submodule "mitmproxy"]
	path = mitmproxy
	url = git@github.com:mhils/mitmproxy.git
[submodule "netlib"]
	path = netlib
	url = git@github.com:mhils/netlib.git
[submodule "gui/lib/dijit"]
	path = gui/lib/dijit
	url = https://github.com/dojo/dijit.git
[submodule "gui/lib/dojo"]
	path = gui/lib/dojo
	url = https://github.com/dojo/dojo.git
[submodule "gui/lib/dojox"]
	path = gui/lib/dojox
	url = https://github.com/dojo/dojox.git
[submodule "gui/lib/util"]
	path = gui/lib/util
	url = https://github.com/dojo/util.git
[submodule "gui/lib/xstyle"]
	path = gui/lib/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "gui/lib/put-selector"]
	path = gui/lib/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "gui/lib/dgrid"]
	path = gui/lib/dgrid
	url = https://github.com/SitePen/dgrid.git
