.button{
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	margin-left: 10px;
}

.button-popout {
	background-image: url(../images/window-new.png);
}
.button-download {
	background-image: url(../images/document-save.png);
}