.button{
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	margin-left: 10px;
	background-repeat: no-repeat;
}

.button-popout {
	background-image: url(../images/window-new.png);
}
.button-similar {
	background-image: url(../images/search-similar.png);
}
.button-download {
	background-image: url(../images/document-save.png);
}
.button-request-payload {
	background-repeat: no-repeat;
	padding-left: 20px;
}

pre.preview {
	white-space: pre-wrap;
	padding: 1em !important;
	background-color: hsl(0,0,94%);
}
.prettyprint ol.linenums li {
	list-style-type: decimal;
}

.pre-menu-item {
	float: right;
	background-color: white;
	border-bottom-left-radius: 5px;
	padding: 3px 5px;
	margin: 1px;
	cursor: pointer;
	position: relative;
	transition: all .1s linear;
	&:hover {
		background-color: hsl(55, 100%, 74%);
	}
}

dl {
	cursor: default;
	font-size: 11px;
	margin: 0;
	width: 100%;
}
dd, dt {
	width: 50%;
	margin: 0;
	display: inline-block;
}
dd {
	padding-left: 8px;
	text-align: left;
}

dt {
	font-weight: bold;
	text-align: right;
	color: hsl(0, 0%, 30%);	
}

.preview-image img {
	display: block;
	margin: 0 auto 10px;
}

.flowlist li {
	cursor: pointer;
}