.button{
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	margin-left: 10px;
	background-repeat: no-repeat;
}

.button-popout {
	background-image: url(../images/window-new.png);
}
.button-download {
	background-image: url(../images/document-save.png);
}
.button-request-payload {
	background-repeat: no-repeat;
	padding-left: 20px;
}

pre.preview {
	padding: 1em;
	background-color: hsl(0,0,94%);
}