/* Animation */
/*---------------------------------------------------
    LESS Prefixer
  ---------------------------------------------------
    
    All of the CSS3 fun, none of the prefixes!

    As a rule, you can use the CSS properties you
    would expect just by adding a '.':

    box-shadow => .box-shadow(@args)

    Also, when shorthand is available, arguments are
    not parameterized. Learn CSS, not LESS Prefixer.

    -------------------------------------------------
    TABLE OF CONTENTS
    (*) denotes a syntax-sugar helper
    -------------------------------------------------

        .animation(@args)
            .animation-delay(@delay)
            .animation-direction(@direction)
            .animation-duration(@duration)
            .animation-iteration-count(@count)
            .animation-name(@name)
            .animation-play-state(@state)
            .animation-timing-function(@function)
        .background-size(@args)
        .border-radius(@args)
        .box-shadow(@args)
            .inner-shadow(@args) *
        .box-sizing(@args)
            .border-box() *
            .content-box() *
        .columns(@args)
            .column-count(@count)
            .column-gap(@gap)
            .column-rule(@args)
            .column-width(@width)
        .gradient(@default,@start,@stop) *
            .linear-gradient-top(@default,@color1,@stop1,@color2,@stop2,[@color3,@stop3,@color4,@stop4])*
            .linear-gradient-left(@default,@color1,@stop1,@color2,@stop2,[@color3,@stop3,@color4,@stop4])*
        .opacity(@factor)
        .transform(@args)
            .rotate(@deg)
            .scale(@factor)
            .translate(@x,@y)
            .translate3d(@x,@y,@z)
            .translateHardware(@x,@y) *
        .text-shadow(@args)
        .transition(@args)
            .transition-delay(@delay)
            .transition-duration(@duration)
            .transition-property(@property)
            .transition-timing-function(@function)



    Credit to LESS Elements for the motivation and
    to CSS3Please.com for implementation.

    Copyright (c) 2012 Joel Sutherland
    MIT Licensed:
    http://www.opensource.org/licenses/mit-license.php

-----------------------------------------------------*/
/* Animation */
/* Background Size */
/* Border Radius */
/* Box Shadows */
/* Box Sizing */
/* Columns */
/* Gradients */
/* Opacity */
/* Text Shadow */
/* Transforms */
/* Transitions */
*:not(.dijitContentPane ) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dijitContentPane {
  padding: 0;
}
.claro .dijitTabPaneWrapper {
  overflow: auto;
  box-sizing: content-box;
}
.claro .dijitTabContainerTop-tabs .dijitTab,
.claro .dijitTabContainerTop-tabs .dijitTabChecked {
  padding-top: 0px;
  padding-bottom: 0px;
}
.claro .dijitTabContainerTop-tabs .dijitTabChecked {
  padding-bottom: 1px;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
}
#appLayout {
  height: 100%;
  width: 100%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
@font-face {
  font-family: 'Cantora One';
  font-style: normal;
  font-weight: 400;
  src: local('Cantora One'), local('CantoraOne-Regular'), url(CantoraOne-Regular.woff) format('woff'), url(CantoraOne-Regular.ttf) format('truetype');
}
h3 {
  font-family: 'Cantora One', sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-top: 0.7em;
}
header {
  overflow: auto;
  display: block;
  height: 64px;
  padding: 0.5em 100px 0.5em;
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100% #f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  border-bottom: solid #454545 1px;
}
header a {
  line-height: 12px;
  font-size: 12px;
  float: right;
  color: black;
  margin-right: 30px;
  margin-top: 26px;
  text-decoration: none;
}
header a:before {
  content: "[";
}
header a:after {
  content: "]";
}
header img {
  margin-left: 10px;
  margin-right: 15px;
  float: left;
}
#detail {
  min-height: 200px;
  height: 40%;
}
#searchbox {
  width: 100%;
}
#searchbox input[type=text] {
  width: 100%;
}
#trafficPane {
  border-right: solid #cccccc 1px;
  border-bottom: solid #cccccc 1px;
}
#rightCol {
  padding: 20px;
  border-left: solid #cccccc 1px;
  background-color: #f7f7f7;
  width: 200px;
}
#tutorial {
  position: absolute;
  top: 94px;
  left: 30px;
}
.filter-hide {
  display: none;
}
.filters  .filter-highlight-1 {
  background-color: rgba(255, 0, 0, 0.2);
}
.search.highlight-1 {
  box-shadow: -6px 0 0 0 #ff0000;
}
.filters  .filter-highlight-2 {
  background-color: rgba(255, 217, 0, 0.2);
}
.search.highlight-2 {
  box-shadow: -6px 0 0 0 #ffd900;
}
.filters  .filter-highlight-3 {
  background-color: rgba(0, 128, 0, 0.2);
}
.search.highlight-3 {
  box-shadow: -6px 0 0 0 #008000;
}
.filters {
  margin-top: -2px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 36px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  z-index: -1;
}
.search.highlight {
  padding: 2px;
  border: solid #cfcfcf 1px;
  border-left: none;
}
.filters .filter-highlight {
  height: 100%;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.table-fixed-header {
  /* Basic Layout */

  width: 100%;
  height: 100%;
  /* Fixed header */

  /* Line height */

  /* Background & Row Highlight */

  /* Cell Layout */

}
.table-fixed-header table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.table-fixed-header .scroll {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: overlay;
  overflow-x: hidden;
}
.table-fixed-header .header tr {
  height: 24px;
}
.table-fixed-header .data td {
  height: 36px;
  padding: 2px 0 0px;
}
.table-fixed-header .data {
  background-color: rgba(0, 0, 0, 0.07);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(50% transparent), color-stop(50% rgba(0, 0, 0, 0.05)), color-stop(100% rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -moz-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -ms-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -o-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 100%);
  background-image: linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 100%);
  background-size: 1px 72px;
}
.table-fixed-header .data tr.selected {
  background-color: rgba(255, 244, 122, 0.1);
}
.table-fixed-header .header {
  background-color: #ededed;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100% #d9d9d9));
  background-image: -webkit-linear-gradient(top, #ededed 0%, #d9d9d9 100%);
  background-image: -moz-linear-gradient(top, #ededed 0%, #d9d9d9 100%);
  background-image: -ms-linear-gradient(top, #ededed 0%, #d9d9d9 100%);
  background-image: -o-linear-gradient(top, #ededed 0%, #d9d9d9 100%);
  background-image: linear-gradient(top, #ededed 0%, #d9d9d9 100%);
}
.table-fixed-header .header th {
  border-bottom: 1px solid #a3a3a3;
}
.table-fixed-header .header th {
  text-align: left;
  -webkit-user-select: none;
  /* Chrome all / Safari all */

  -moz-user-select: none;
  /* Firefox all */

  -ms-user-select: none;
  /* IE 10+ */

  /* No support for these yet, use at own risk */

  -o-user-select: none;
  user-select: none;
}
.table-fixed-header .data td {
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-fixed-header th:last-child,
.table-fixed-header td:last-child {
  padding-right: 30px;
}
#trafficTable {
  min-width: 600px;
  /* Cell Styling */

  /* UX: Clickable */

}
#trafficTable .data thead {
  display: none !important;
  visibility: hidden;
}
#trafficTable th.goog-tablesorter-sorted {
  background-color: rgba(70, 185, 72, 0.3);
}
#trafficTable th.goog-tablesorter-sorted-reverse {
  background-color: rgba(238, 68, 17, 0.3);
}
#trafficTable .size,
#trafficTable .time {
  text-align: right;
}
#trafficTable .subtitle {
  font-size: 11px;
  color: grey;
}
#trafficTable .time .duration {
  color: grey;
}
#trafficTable .request-scheme-https .ssl {
  background-color: rgba(66, 212, 43, 0.4);
}
#trafficTable th,
#trafficTable td {
  cursor: pointer;
}
/*
test
//#traffictable th, #traffictable td {
//	cursor: pointer;
//}
th.goog-tablesorter-sorted {
     background-color: hsla(121, 45%, 50%,.5);
}

th.goog-tablesorter-sorted-reverse {
     background-color: hsla(14, 87%, 50%,.5);
   }
   
   
//@lineheight: 36px;
//@innerlineheight: 34px;
//#traffictable {
//	background-color: hsla(0,0%,0%,0.07);
//	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), color-stop(0.5, hsla(0, 0%, 0%, 0.05)), to(hsla(0, 0%, 0%, 0.05)));
//	-webkit-background-size: 1px @lineheight*2;
//}
//#traffictable {
//    width: 100%;
//    table-layout: fixed;
//    border-spacing: 0;
//	border-collapse: collapse;
//	min-width: 600px;
//}
//#traffic tr.selected td {
//	background-color: hsla(55, 100%, 74%, 0.1);
//}
//#traffic td {
//	height: 36px;
//	vertical-align: top;
//	white-space: nowrap;
//	text-overflow: ellipsis;
//    overflow: hidden;
//    padding: (@lineheight - @innerlineheight)/2 0;
//}
#traffic .size, #traffic .time {
    text-align: right;
}
#traffic .time .duration {
	color: #666;
}

#traffictable thead {
    background-color: white;
    text-align: left;
}

@headerheight: @lineheight/2;//neccessary because of the background hack

#traffictable {
	margin-top: @headerheight;
}


#traffictable thead {
	//margin-top: -@headerheight;
	//position: absolute;
	
	/*
	height: @headerheight;
	display: block;
	width: 100%;
	tr {
		width: 100%;
		display: inline-table;
	}
	th {
	&:before {
		content: "";
		display: inline-block;
	    width: 7px;
	}
	padding: 0;
	margin: 0;
	height: @headerheight - 1;
	line-height: @headerheight;
	}
}
#traffic .subtitle {
    font-size: 11px;
    color: grey;    
}

#traffic .request-scheme-https .ssl {
	background-color: hsla(112, 66%, 50%,0.4);
}

*/
/* Column Width */
col.ssl,
th.ssl {
  width: 1%;
}
col.name,
th.name {
  width: 41.5%;
}
col.method,
col.status,
th.method,
th.status {
  width: 7.5%;
}
col.type,
th.type {
  width: 12.5%;
}
col.size,
th.size {
  width: 10%;
}
col.time,
th.time {
  width: 20%;
}
/* Row Styling */
#trafficTable .icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 3px;
  background-image: url(../images/resourcePlainIcon.png);
}
#trafficTable .category-document .icon {
  background-image: url(../images/resourceDocumentIcon.png);
}
#trafficTable .category-image .icon {
  background-image: url(../images/resourceImageIcon.png);
}
#trafficTable .category-css .icon {
  background-image: url(../images/resourceCSSIcon.png);
}
#trafficTable .category-js .icon {
  background-image: url(../images/resourceJSIcon.png);
}
.button {
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
  margin-left: 10px;
  background-repeat: no-repeat;
}
.button-popout {
  background-image: url(../images/window-new.png);
}
.button-similar {
  background-image: url(../images/search-similar.png);
}
.button-download {
  background-image: url(../images/document-save.png);
}
.button-request-payload {
  background-repeat: no-repeat;
  padding-left: 20px;
}
pre.preview {
  white-space: pre-wrap;
  padding: 1em !important;
  background-color: #f0f0f0;
}
.prettyprint ol.linenums li {
  list-style-type: decimal;
}
.pre-menu-item {
  float: right;
  background-color: white;
  border-bottom-left-radius: 5px;
  padding: 3px 5px;
  margin: 1px;
  cursor: pointer;
  position: relative;
  transition: all .1s linear;
}
.pre-menu-item:hover {
  background-color: #fff47a;
}
dl {
  cursor: default;
  font-size: 11px;
  margin: 0;
  width: 100%;
}
dd,
dt {
  width: 50%;
  margin: 0;
  display: inline-block;
}
dd {
  padding-left: 8px;
  text-align: left;
}
dt {
  font-weight: bold;
  text-align: right;
  color: #4d4d4d;
}
.preview-image img {
  display: block;
  margin: 0 auto 10px;
}
.flowlist li {
  cursor: pointer;
}
pre.raw {
  padding: 1em;
  background-color: #f0f0f0;
}
#detail {
  font-size: 11px;
}
.headers {
  table-layout: fixed;
}
.headers td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.headers tr td:first-child {
  width: 300px;
}
.headers tr td:first-child {
  color: #545454;
  font-weight: bold;
}
.headers tr td:first-child.title {
  color: black;
}
.headers .header-value {
  font-family: Consolas, Lucida Console, monospace;
}
.detailPane .dijitTabListWrapper {
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100% #f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
}
ul.checksums {
  list-style-type: none;
  padding-left: 0;
}
ul.checksums .value {
  font-style: italic;
}
