/*#traffic tr:nth-child(2n){
    background-color: hsla(0,0%,0%,0.07);
}*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
@font-face {
  font-family: 'Cantora One';
  font-style: normal;
  font-weight: 400;
  src: local('Cantora One'), local('CantoraOne-Regular'), url(CantoraOne-Regular.woff) format('woff'), url(CantoraOne-Regular.ttf) format('truetype');
}
h3 {
  font-family: 'Cantora One', sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-top: 0.7em;
}
header {
  overflow: auto;
  display: block;
  height: 75px;
  padding: 0.5em 100px 0.5em;
  background-color: #e6e6e6;
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  /* Firefox 3.6-15 */

  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  /* Firefox 16+ */

}
header a {
  float: right;
  color: black;
  text-decoration: none;
}
header a:before {
  content: "[";
}
header a:after {
  content: "]";
}
#main {
  overflow: hidden;
}
header img {
  margin-left: 10px;
  margin-right: 15px;
  float: left;
}
#main > .goog-splitpane-first-container,
#main > .goog-splitpane-second-container {
  overflow-y: scroll;
}
.goog-splitpane-handle {
  width: 3px;
  background-color: #a3a3a3;
  background-clip: content-box;
  padding: 0 1px;
}
.goog-splitpane-handle-vertical {
  cursor: n-resize;
}
.goog-splitpane-handle-horizontal {
  cursor: e-resize;
}
#traffictable th,
#traffictable td {
  /* TODO: Figure out a better solution */

  cursor: pointer;
}
th.goog-tablesorter-sorted {
  background-color: rgba(70, 185, 72, 0.5);
}
th.goog-tablesorter-sorted-reverse {
  background-color: rgba(238, 68, 17, 0.5);
}
/*#traffic tr:nth-child(2n){
    background-color: hsla(0,0%,0%,0.07);
}*/
#traffictable {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.05)));
  -webkit-background-size: 1px 72px;
}
#traffictable {
  background-color: rgba(0, 0, 0, 0.07);
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 600px;
}
#traffic tr.selected td {
  background-color: rgba(255, 244, 122, 0.1);
}
#traffic td {
  height: 36px;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 1px 0;
}
#traffic .size,
#traffic .time {
  text-align: right;
}
#traffic .time .duration {
  color: #666;
}
#traffictable thead {
  background-color: white;
  text-align: left;
}
#traffictable {
  margin-top: 18px;
}
#traffictable thead {
  position: fixed;
  margin-top: -18px;
  height: 18px;
  display: block;
  width: 100%;
  overflow-y: scroll;
}
#traffictable thead tr {
  width: 100%;
  display: inline-table;
}
#traffictable thead th {
  padding: 0;
  margin: 0;
  height: 17px;
  line-height: 18px;
}
#traffictable thead th:before {
  content: "";
  display: inline-block;
  width: 7px;
}
col.ssl,
th.ssl {
  width: 1%;
}
col.name,
th.name {
  width: 41.5%;
}
col.method,
col.status,
th.method,
th.status {
  width: 7.5%;
}
col.type,
th.type {
  width: 12.5%;
}
col.size,
th.size {
  width: 10%;
}
col.time,
th.time {
  width: 20%;
}
#traffic .subtitle {
  font-size: 11px;
  color: grey;
}
#traffic .request-scheme-https .ssl {
  background-color: rgba(66, 212, 43, 0.4);
}
#searchbox {
  float: right;
  margin-top: 25px;
}
.filter-hide {
  display: none;
}
.ssl {
  overflow: visible !important;
}
.filters {
  float: right;
  padding-left: 5px;
}
.filters .filter-highlight {
  display: inline-block;
  font-size: 34px;
  line-height: 100%;
  height: 100%;
}
.filters .filter-highlight:before {
  content: "\2022";
}
.filters .filter-highlight-1:before {
  color: red;
}
.filters .filter-highlight-2:before {
  color: orange;
}
.filters .filter-highlight-3:before {
  color: green;
}
#traffic .icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-top: 1px;
  margin-right: 3px;
  background-image: url(../images/resourcePlainIcon.png);
}
#traffic .category-document .icon {
  background-image: url(../images/resourceDocumentIcon.png);
}
#traffic .category-image .icon {
  background-image: url(../images/resourceImageIcon.png);
}
#traffic .category-css .icon {
  background-image: url(../images/resourceCSSIcon.png);
}
#traffic .category-js .icon {
  background-image: url(../images/resourceJSIcon.png);
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.button {
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
  margin-left: 10px;
  background-repeat: no-repeat;
}
.button-popout {
  background-image: url(../images/window-new.png);
}
.button-download {
  background-image: url(../images/document-save.png);
}
.button-request-payload {
  background-repeat: no-repeat;
  padding-left: 20px;
}
pre.preview {
  white-space: pre-wrap;
  padding: 1em !important;
  background-color: #f0f0f0;
}
.prettyprint ol.linenums li {
  list-style-type: decimal;
}
.pre-menu-item {
  float: right;
  background-color: white;
  border-bottom-left-radius: 5px;
  padding: 3px 5px;
  margin: 1px;
  cursor: pointer;
  position: relative;
  transition: all .1s linear;
}
.pre-menu-item:hover {
  background-color: #fff47a;
}
dl {
  cursor: default;
  font-size: 11px;
  margin: 0;
  width: 100%;
}
dd,
dt {
  width: 50%;
  margin: 0;
  display: inline-block;
}
dd {
  padding-left: 8px;
  text-align: left;
}
dt {
  font-weight: bold;
  text-align: right;
  color: #4d4d4d;
}
.preview-image img {
  display: block;
  margin: 0 auto 10px;
}
pre.raw {
  padding: 1em;
  background-color: #f0f0f0;
}
.headers {
  table-layout: fixed;
}
.headers td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.headers tr td:first-child {
  width: 300px;
}
