<div>
	<div title="Pop out" class="button button-topright button-popout"></div>
	<a href="<%- model.response.downloadUrl %>" title="Download" class="button button-topright button-download"></a>
	<div class=content>
		<h2 class=title><%- model.request.fullPath %></h2>
		<div class=subtitle><%- model.request.queryString %></div>
		<span data-dojo-attach-point='previewNode'></span>
	</div>
</div>