<div>
	<div title="Pop out" class="button button-topright button-popout"></div>
	<a data-bind="href: ResponseUtils.getDownloadUrl(response)" title="Download" class="button button-topright button-download"></a>
	<div class="content">

		<h5 class="no-text-overflow">
			<span data-bind="textContent: RequestUtils.getFullPath(request)"></span><br>
			<small data-bind="textContent: RequestUtils.getQueryString(request)"></small>
		</h5>
		
		<div data-bind="widget: new model.View({model: model})"></div>

	</div>
</div>