<div>
	<div title="Pop out" class="button button-topright button-popout"></div>
	<a data-bind="href: ResponseUtils.getDownloadUrl(response)" title="Download" class="button button-topright button-download"></a>
	<div class="content">
		<h2 class="title" data-bind="textContent: RequestUtils.getFullPath(request)"></h2>
		<div class="subtitle" data-bind="textContent: RequestUtils.getQueryString(request)"></div>
		<div data-bind="widget: new model.View({model: model})"></div>
	</div>
</div>