<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>HoneyProxy</title>
	
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="./js/jquery-ui/css/smoothness/jquery-ui.css">
</head>
<body>
<header>
<h3>HoneyProxy</h3>
</header>
<div id="main" class="goog-splitpane">
	<div class=goog-splitpane-first-container>
		<table id="traffictable">
			<colgroup span="6">
				<col style="width: 1%; ">
				<col style="width: 41.5%; ">
				<col style="width: 7.5%; ">
				<col style="width: 7.5%; ">
				<col style="width: 12.5%; ">
				<col style="width: 10%; ">
				<col style="width: 20%; ">
			</colgroup>
			<thead>
				<tr>
					<th><!-- SSL --></th>
					<th>Name</th>
					<th>Method</th>
					<th>Status</th>
					<th>Type</th>
					<th>Size</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody id="traffic">
			</tbody>
		</table>
	</div>
	<div class=goog-splitpane-second-container id=detail>
		<div class=tabs>
			<ul>
			    <li><a href="#preview">Preview</a></li>
			    <li><a href="#header">Header</a></li>
			</ul>
			<div id=preview></div>
			<div id=header></div>
		</div>
	</div>
	<div class='goog-splitpane-handle'></div>
</div>
<footer></footer>
<script id=template-flow type="text/html">
<td class=ssl>
	</td>
<td class=name-column>
	<img class=icon>
	<%= getFilename() %>
	<div class=subtitle><%= getFullPath() %></div>
	</td>
<td class=method>
	<%= get("request").method %></td>
<td class=responsecode>
	<%= get("response").code %></td>
<td class=contenttype>
	<%= getContentType() %></td>
<td class=size>
	<div class=hidden><%= getRawContentSize() %></div>
	<%= getContentSize() %></td>
<td class=time>
	<div class=timestamp title="Timestamp: <%= get("request").timestamp %>">
	<%= getDate().toLocaleTimeString() %>, <%= ("0"+getDate().getDay()).slice(-2)+"."+("0"+getDate().getMonth()).slice(-2) %>.<br>
	</div>	
	<div class=duration>
	<%= Math.floor((get("response").timestamp - get("request").timestamp) * 1000) %>ms
	</div>	
	</td>
</script>

<script id=template-preview type="text/html">
<div title="Pop out" class=popoutbutton></div>
<div class=content>
	<h2 class=title><%- getFilename() %></h2>
	<%= getPreview() %>
</div>
</script>
<script id=template-header type="text/html">
<div title="Pop out" class=popoutbutton></div>
<div class=content>
	<h2 class=title><%- getFilename() %></h2>
	Request URL: <%- getFullPath() %><br>
	Request Method: <%- getRequestMethod() %><br>
	Status Code: <%- getStatusCode() %><br>
	
	<table>
	<tr><td colspan=2><b>Request Headers:</b></td></tr>
		<%
			var headers = getRequestHeaders()
			for(var i=0;i<headers.length;i++){
				print("<tr>");
				print("<td>"+headers[i][0]+"</td>");
				print("<td>"+headers[i][1]+"</td>");
				print("</tr>");
			}
 		%>
		<% if(hasFormData()) {
			print("<tr><td colspan=2><b>Form Data:</b></td></tr>");
			print("TODO");
			
		} else if(hasPayload()) {
			print("<tr><td colspan=2><b>Request Payload:</b></td></tr>");
			print ("TODO");
		} %>	
	<tr><td colspan=2><b>Response Headers:</b></td></tr>
		<%
			var headers = getResponseHeaders()
			for(var i=0;i<headers.length;i++){
				print("<tr>");
				print("<td>"+headers[i][0]+"</td>");
				print("<td>"+headers[i][1]+"</td>");
				print("</tr>");
			}
 		%>
	</table>
</div>
</script>
<script id=template-popout type="text/html">
<html>
<head><title><%= title %></title></head><body>
<%= content %></body></html>
</script>

<script src="./js/closure-library/closure/goog/base.js"></script>
<script>
goog.require('goog.ui.TableSorter');
goog.require('goog.ui.SplitPane');
goog.require('goog.dom');
goog.require('goog.dom.ViewportSizeMonitor');
goog.require('goog.style');
</script>
<script src="./js/jquery-1.7.2.js"></script>
<script src="./js/jquery-ui/jquery-ui.min.js"></script>
<script src="./js/underscore.js"></script>
<script src="./js/backbone.js"></script>
<script src="./js/backbone.marionette.js"></script>

<script src="./js/honeyproxy/honeyproxy.js"></script>
<script src="./js/honeyproxy/utilities.js"></script>
<script src="./js/honeyproxy/websocket.js"></script>
<script src="./js/honeyproxy/Flow.js"></script>
<script src="./js/honeyproxy/FlowView.js"></script>
<script src="./js/honeyproxy/flows/DocumentFlow.js"></script>
<script src="./js/honeyproxy/flows/CssFlow.js"></script>
<script src="./js/honeyproxy/flows/ImageFlow.js"></script>
<script src="./js/honeyproxy/Traffic.js"></script>
<script src="./js/honeyproxy/TrafficView.js"></script>
<script src="./js/honeyproxy/TableSorter.js"></script>
<script src="./js/honeyproxy/MainLayout.js"></script>
<script src="./js/honeyproxy/DetailView.js"></script>
<script src="./js/honeyproxy/PopOut.js"></script>
</body>
</html>