<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>HoneyProxy</title>
	
	<link rel="stylesheet" href="./css/style.css">
	
</head>
<body>
<header>
<h3>HoneyProxy</h3>
</header>
<div id="main" class="goog-splitpane">
	<div class=goog-splitpane-first-container>
		<table id="traffictable">
			<colgroup span="6">
				<col style="width: 1%; ">
				<col style="width: 41.5%; ">
				<col style="width: 7.5%; ">
				<col style="width: 7.5%; ">
				<col style="width: 12.5%; ">
				<col style="width: 10%; ">
				<col style="width: 20%; ">
			</colgroup>
			<thead>
				<tr>
					<th><!-- SSL --></th>
					<th>Name</th>
					<th>Method</th>
					<th>Status</th>
					<th>Type</th>
					<th>Size</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody id="traffic">
			</tbody>
		</table>
	</div>
	<div class=goog-splitpane-second-container id=detail>
		<div class=tabbed-pane>
			<div class=tabbed-pane-headers>
				<a href="#header">Headers</a>
				<a href="#preview">Preview</a>
			</div> 
			<div class=tabbed-pane-contents>
				<div class=tabbed-pane-content id="header"></div>
				<div class="tabbed-pane-content hidden" id="preview"></div>
			</div>
		</div>
	</div>
	<div class='goog-splitpane-handle'></div>
</div>
<footer></footer>
<script id=template-flow type="text/html">
<td class=ssl>
	</td>
<td class=name-column>
	<img class=icon>
	<%= getFilename() %>
	<div class=subtitle><%= getFullPath() %></div>
	</td>
<td class=method>
	<%= get("request").method %></td>
<td class=responsecode>
	<%= get("response").code %></td>
<td class=contenttype>
	<%= getContentType() %></td>
<td class=size>
	<div class=hidden><%= getRawContentSize() %></div>
	<%= getContentSize() %></td>
<td class=time>
	<div class=timestamp title="Timestamp: <%= get("request").timestamp %>">
	<%= getDate().toLocaleTimeString() %>, <%= ("0"+getDate().getDay()).slice(-2)+"."+("0"+getDate().getMonth()).slice(-2) %>.<br>
	</div>	
	<div class=duration>
	<%= Math.floor((get("response").timestamp - get("request").timestamp) * 1000) %>ms
	</div>	
	</td>
</script>

<script id=template-preview type="text/html">
<%= getPreview() %>
</script>
<script id=template-header type="text/html">
TODO
</script>

<script src="./js/closure-library/closure/goog/base.js"></script>
<script>
goog.require('goog.ui.TableSorter');
goog.require('goog.ui.SplitPane');
goog.require('goog.dom');
goog.require('goog.dom.ViewportSizeMonitor');
goog.require('goog.style');
</script>
<script src="./js/jquery-1.7.2.js"></script>
<script src="./js/underscore.js"></script>
<script src="./js/backbone.js"></script>
<script src="./js/backbone.marionette.js"></script>

<script src="./js/honeyproxy/honeyproxy.js"></script>
<script src="./js/honeyproxy/utilities.js"></script>
<script src="./js/honeyproxy/websocket.js"></script>
<script src="./js/honeyproxy/Flow.js"></script>
<script src="./js/honeyproxy/FlowView.js"></script>
<script src="./js/honeyproxy/flows/DocumentFlow.js"></script>
<script src="./js/honeyproxy/flows/CssFlow.js"></script>
<script src="./js/honeyproxy/flows/ImageFlow.js"></script>
<script src="./js/honeyproxy/Traffic.js"></script>
<script src="./js/honeyproxy/TrafficView.js"></script>
<script src="./js/honeyproxy/TableSorter.js"></script>
<script src="./js/honeyproxy/MainLayout.js"></script>
<script src="./js/honeyproxy/DetailView.js"></script>
</body>
</html>