<div>
<h2 data-bind="textContent: view.name"></h2>
<dl>
  <dt>File size</dt><dd data-bind="textContent: response.contentLengthFormatted"></dd>
  <dt>Mime</dt><dd data-bind="textContent: response.contentType"></dd>
</dl>
</div>