<div>
	<dl>
	    <dt>File size</dt><dd data-bind="innerText: response.contentLengthFormatted"></dd>
	    <dt>Mime</dt>     <dd data-bind="innerText: response.contentType"></dd>
	    <dt>Machine</dt>  <dd data-bind="innerText: view.machine"></dd>
		<dt>Sections</dt> <dd data-bind="innerHTML: view.sections"></dd>
	</dl>
</div>