<div title="Pop out" class="button button-popout"></div>
<a href="<%= response.downloadUrl %>" title="Download" class="button button-download"></a>
<div class=content>
	<h2 class=title><%- request.filename %></h2>
	<% if(response.hasContent) print(getPreview()); 
		else print(getPreviewEmpty()); %>
</div>