<div>
<!-- quick and dirty. not much effort put into this as we cannot style the directory listing very well. -->
<p style="padding: 0.5em; margin: 0; height: 50px; position: relative;">
Take care: This is a live view. 
There is <span style="color:red; font-weight: bold">no protection</span> against harmful files. 
All files will be rendered by your browser. 
<span style="color:red">If you open an HTML file that references <i>evil.com</i>, 
data from <i>evil.com</i> will be loaded.</span> Open your dump folder in your OS to inspect the files safely.
<a href="/dump" target="dumpedfiles" style="text-decoration: none">[ Reset ]</a>
</p>
<iframe name="dumpedfiles"data-dojo-attach-point="iframe" src="/dump" style="width: 100%;border: 0;height: 100%;margin-top: -50px;padding-top: 50px;"></iframe>
</div>