<div class="sidebar reportEditor">
<h3>Report Editor</h3>
<button data-dojo-attach-point="newScriptNode">New</button>
<div data-dojo-attach-point="statusNode"></div>
<select data-dojo-attach-point="scriptSelectionNode">
</select>
<textarea data-dojo-attach-point="reportCodeNode"></textarea>
<br>
<div data-dojo-attach-point="startButtonNode">Generate Report</div>
</div>