<div>
	<div id=trafficTable class=table-fixed-header>
		<table class="header">
			<colgroup span="6">
				<col class="ssl" >
				<col class="name" >
				<col class="method" >
				<col class="status" >
				<col class="type">
				<col class="size">
				<col class="time">
			</colgroup>
			<thead>
				<tr>
					<th><!-- SSL --></th>
					<th>Name</th>
					<th>Method</th>
					<th>Status</th>
					<th>Type</th>
					<th>Size</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<div class=scroll>
			<table id=traffictable class=data>
				<colgroup span="6">
					<col class="ssl" >
					<col class="name" >
					<col class="method" >
					<col class="status" >
					<col class="type">
					<col class="size">
					<col class="time">
				</colgroup>
				<thead>
					<tr>
						<th><!-- SSL --></th>
						<th>Name2</th>
						<th>Method</th>
						<th>Status</th>
						<th>Type</th>
						<th>Size</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>