<div class="sidebar trafficSidebar">
<div class="searchbox">
<h2>Filter</h2>
	<input id=filter class=search data-negate=true data-filterclass="hide" placeholder="Search"><br>
	
<h2>Highlight</h2>

	<input data-filterclass="highlight highlight-1" class="search highlight highlight-1" placeholder="Modifiers:"><br>
	<input data-filterclass="highlight highlight-2" class="search highlight highlight-2" placeholder="!not, ~regex"><br>
	<input data-filterclass="highlight highlight-3" class="search highlight highlight-3" placeholder="=caseSensitive"><br><br>
	<input type=checkbox id=includeContent checked><label for="includeContent">include content</label>
</div>
</div>