<div title="Pop out" class="button button-popout"></div>
<div class=content>
	<h2 class=title><%- getFilename() %></h2>
	Request URL: <%- getFullPath() %><br>
	Request Method: <%- getRequestMethod() %><br>
	Status Code: <%- getStatusCode() %><br>
	
	<table>
	<tr><td colspan=2><b>Request Headers:</b></td></tr>
		<%
			var headers = getRequestHeaders();
			for(var i=0;i<headers.length;i++){
				print("<tr>");
				print("<td>"+headers[i][0]+"</td>");
				print("<td>"+headers[i][1]+"</td>");
				print("</tr>");
			}
 		%>
		<% if(hasFormData()) {
			var tr_id = _.uniqueId("formdata");
			print('<tr id="'+tr_id+'"><td><b>Form Data:</b></td><td>Loading...</td></tr>');
			getFormData(function(formData){
				var $tr = $("#"+tr_id);
				var html = "";
				for(var i=0;i<formData.length;i++) {
					html +="<tr><td>"+_.escape(decodeURIComponent(formData[i].name))+"</td><td>"+_.escape(decodeURIComponent(formData[i].value))+"</td></tr>";
				}
 				$tr.after(html);
				$tr.find("td").last().text("");
			});

		} else if(hasRequestPayload()) {
			print("<tr><td colspan=2><b>Request Payload:</b></td></tr>");
		} 
		if(hasRequestContent()) {
			print('<tr><td></td><td><a class="button-download button-request-payload" href="'+getRequestContentDownloadURL()+'">Download ('+getRequestContentLengthFormatted()+')</a></td></tr>');
		}
%>	
	<tr><td colspan=2><b>Response Headers:</b></td></tr>
		<%
			var headers = getResponseHeaders();
			for(var i=0;i<headers.length;i++){
				print("<tr>");
				print("<td>"+_.escape(headers[i][0])+"</td>");
				print("<td>"+_.escape(headers[i][1])+"</td>");
				print("</tr>");
			}
 		%>
	</table>
	<% /*Server certificate:
	<pre></pre> */ %>
</div>