<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="./js/prettify/prettify.css">
	<link rel="stylesheet" href="./css/popout.css">
</head>
<body>
<%= content %>
</body>
</html>