<div>
	<a href="javascript:parent.location.href=location.hash.replace('#','')">
	<img src="./HoneyProxy/images/logo.png" width=64 height=64>
	<h3>HoneyProxy <span style="color:hsl(36, 88%, 56%);">Client</span></h3></a>
	<div class="dijitToolbar mainToolbar" data-dojo-attach-point="toolbarNode"></div>
</div>