<div>
	<img src="./HoneyProxy/images/logo.png" width=64 height=64>
	<h3><a href="javascript:parent.location.href=location.hash.replace('#','')">HoneyProxy <span style="color:hsl(36, 88%, 56%);">Client</span></a></h3>
	<div class="dijitToolbar mainToolbar" data-dojo-attach-point="toolbarNode"></div>
</div>