<div class="sidebar reportEditor">
<h3>Report Editor</h3>
<div data-dojo-type="dijit/Toolbar" class="dijitToolbar reportEditorToolbar" data-dojo-attach-point="toolbarNode">

	<select class="editor-loadselect" data-dojo-attach-point="scriptSelectionNode"></select>
	<button data-dojo-type="dijit/form/Button" type="button" class="newScript" data-dojo-attach-point="newScriptButton" data-dojo-props="iconClass:' dijitIconNewTask', showLabel: false">New</button>
	<button data-dojo-type="dijit/form/Button" type="button" class="deleteScript" data-dojo-attach-point="deleteScriptButton" data-dojo-props="iconClass:' dijitIconClear', showLabel: false">Delete</button>
	<div class="editor-status" data-dojo-attach-point="statusNode"></div>

	
</div>

<textarea data-dojo-attach-point="reportCodeNode"></textarea>
<br>
<div data-dojo-attach-point="startButtonNode">Generate Report</div>
</div>