<div class=reportOutput>
<div title="Pop out" class="button button-topright button-popout"></div>
<div class="outputNode content" data-dojo-attach-point="outputNode">Click on "Generate Report" to show output.</div>
</div>