<form class="query input-prepend input-append span3" data-bind="toggleClass: ['empty',view.empty,'always-visible',view.alwaysVisible];
														 submit: view.onSubmit.bind(view)">
	<span class="add-on" data-bind="css: ['color',view.color];">
		<i data-bind="className: view.filter?'icon-filter':'icon-tag'"></i></span>
	<input type="text" class="span2" data-bind="bind: [view,'inputNode'];
												input: view.onInput.bind(view);
												blur: view.onBlur.bind(view);
												placeholder: view.filter?'Filter':'Highlight'">
	<button class="btn" tabindex="-1" data-bind="toggleClass: ['btn-info',view.highlightSubmit];
												 title: view.highlightSubmit ? 'This query has not been submitted yet.' : 'Submit'">
		<i class="icon-caret-right"></i></button>
</form>