<div class="searchbar" style="overflow: visible; z-index: 10">
	<form class="form-inline" style="padding:1em; margin-bottom: 0px">
	<div class="input-append" >
		<input type="text" class="span4" placeholder="Search">
		<div class="btn-group">
			<button class="btn" tabindex="-1"><i data-bind="className: view.type.isfilter ? 'icon-filter' : 'icon-sign-blank'"d></i> Filter</a></button>
		    <ul data-bind="on: ['a:click',view.dropdownClick.bind(view)]" class="dropdown-menu">
		    	<li><a href="#" data-props='{"isfilter":true}'><i class="icon-filter"></i>  Filter</a></li>
		    	<li class="divider"></li>
		    	<li><a href="#" data-props='{"isfilter":false, "color":"red"}'><i class="icon-sign-blank"></i> Highlight</a></li>
		    	<li><a href="#" data-props='{"isfilter":false, "color":"green"}'><i class="icon-sign-blank"></i> Highlight (2)</a></li>
		    	<li><a href="#" data-props='{"isfilter":false, "color":"blue"}'><i class="icon-sign-blank"></i> Highlight (3)</a></li>
		    	<li><a href="#" data-props='{"isfilter":false, "color":"orange"}'><i class="icon-sign-blank"></i> Highlight (4)</a></li>
		    </ul>
		    <button class="btn" data-toggle="dropdown" tabindex="-1"><span class="caret"></span></button>
		</div>
	</div>
	&nbsp;&nbsp;
	<span data-bind="widgets: view.queries">
	<div class="btn-group">
	  <button class="btn btn-mini"><i class="icon-filter"></i> Left</button>
	  <button class="btn btn-mini"><span class="close">&times;</span></button>
	</div>
	<div class="btn-group">
	  <button class="btn btn-mini"><i class="icon-sign-blank"></i> Right</button>
	  <button class="btn btn-mini"><span class="close">&times;</span></button>
	</div>

	</span>
	</form>
</div>