.detailPane {
	height: 300px;
}

.detailPane .dijitTabPane {
	padding: 1px 10px 20px;
}

//Scroll bar for detailpane
.detailPane .dijitTabPaneWrapper {
	overflow: auto;
}

// FIXME: empty: use bindings;
// FIXME: img: look for bootstrap classes;
.preview-image img {
	display: block;
	margin: 0 auto 10px;
}

.preview-empty {
	display: none;
}