<div>
	<div title="Pop out" class="button button-popout"></div>
	<a href="<%- model.response.downloadUrl %>" title="Download" class="button button-download"></a>
	<div class=content>
		<h2 class=title><%- model.request.filename %></h2>
		<span data-dojo-attach-point='previewHTMLNode'></span>
	</div>
</div>